body {
  /*background-color:#696969	;*/
  background: rgba(164,179,87,1);
  background: -moz-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(154,170,71,1) 21%, rgba(145,162,56,1) 41%, rgba(134,153,40,1) 63%, rgba(128,147,30,1) 76%, rgba(122,141,20,1) 90%, rgba(117,137,12,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(164,179,87,1)), color-stop(21%, rgba(154,170,71,1)), color-stop(41%, rgba(145,162,56,1)), color-stop(63%, rgba(134,153,40,1)), color-stop(76%, rgba(128,147,30,1)), color-stop(90%, rgba(122,141,20,1)), color-stop(100%, rgba(117,137,12,1)));
  background: -webkit-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(154,170,71,1) 21%, rgba(145,162,56,1) 41%, rgba(134,153,40,1) 63%, rgba(128,147,30,1) 76%, rgba(122,141,20,1) 90%, rgba(117,137,12,1) 100%);
  background: -o-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(154,170,71,1) 21%, rgba(145,162,56,1) 41%, rgba(134,153,40,1) 63%, rgba(128,147,30,1) 76%, rgba(122,141,20,1) 90%, rgba(117,137,12,1) 100%);
  background: -ms-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(154,170,71,1) 21%, rgba(145,162,56,1) 41%, rgba(134,153,40,1) 63%, rgba(128,147,30,1) 76%, rgba(122,141,20,1) 90%, rgba(117,137,12,1) 100%);
  background: linear-gradient(to right, rgba(164,179,87,1) 0%, rgba(154,170,71,1) 21%, rgba(145,162,56,1) 41%, rgba(134,153,40,1) 63%, rgba(128,147,30,1) 76%, rgba(122,141,20,1) 90%, rgba(117,137,12,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=1 );
  Copy text
}
.container {

  height: 500px;
  width: 500px;

  position: relative;
  left: 38%;
  top:20%;
}
#canvas {

  
  position: absolute;

}
